<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">

    <form action="#" th:action="@{/bookLeading/createBookLeading}"  th:object="${bookLeading}" method="post">
        <table class="table table-striped">
            <tr>
                <td>Name Book: </td>
                <td><input type="text" th:field="*{book}"/></td>
                <!--<td th:if="${#fields.hasErrors('book')}" th:errors="*{book}">Name error</td>-->

            </tr>
            <tr>
                <td>Reader Full Name: </td>
                <td><input type="text" th:field="*{reader}"/></td>
                <!--<td th:if="${#fields.hasErrors('reader')}" th:errors="*{reader}">Name error</td>-->

            </tr>
            <tr>
                <td>Date_Took: </td>
                <td><input type="text" th:field="*{dateTook}"/></td>

            </tr>
            <tr>
                <td>Date_Back: </td>
                <td><input type="text" th:field="*{dateBack}"/></td>
                <!--<td th:if="${#fields.hasErrors('dateBack')}" th:errors="*{dateBack}">Name error</td>-->

            </tr>

            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </table>

    </form>

</div>
</html>