<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">

    <form action="#" th:action="@{/reader/updateReader}" th:object="${reader}" method="post">
        <table class="table table-striped">
            <tr>
                <td>Full_Name:</td>
                <td><input type="text" th:field="*{fullName}"/></td>
            </tr>
            <input type="hidden" id="id" rows="5" class="form-control" name="id" th:value="${reader.id}"/>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </table>

    </form>


</div>
</html>